<!DOCTYPE html>
<html>
<!-- <input type="submit" name="submit" value="Do Something">
<input type="submit" name="submit" value="Do Something Else"> -->
<head>
<script src= "static/angular.min.js"></script>
</head>

<body>
<!-- <h3>Search Tweets</h3> -->
{% raw %}
<div data-ng-app="myapp" data-ng-init="name=1">
<div ng-controller="MyController" >
    
	<p><input type="text" ng-model="search_text">
<!-- </br> -->
<button ng-click="getData()">Search</button></p>
    <br/>
    Msg : <span data-ng-bind="msg"></span>
    </br>
<!-- id={{myData.fromServer.id}} -->
<!-- <table border='1px'>
    <tr>
        <th>Id</th>
        <th>Title</th>
        
    </tr>
    <tr ng-repeat="myData in myData.fromServer">
        <td>{{myData.job_id}}</td>
        <td>{{myData.title}}</td>
        
    </tr>
</table> -->
  </div>

  <script>
    var app = angular.module("myapp", []);
        app.controller("MyController", function($scope, $http) {
            $scope.msg = 'Click on search button to get tweets'
            $scope.myData = {};
            $scope.getData = function(item, event) {
                $scope.msg = 'Creating feature vector from text for testing. Please wait . . . . .'

        $http({
      			method: "post",
                url: "/getData",
                data: {"search_text": $scope.search_text}
        })

            .success(function(data) {
                console.log('success',data)
                $scope.msg =  data
            })
            .error(function(data) {
                console.log('error occured')
                $scope.msg = 'error'
            });
    }


        });
  </script>
</div>
{% endraw %}
</body>
</html>
